
    <main class="content">
        <h2>Datenschutzerklärung</h2>
        
        <h3>1. Datenschutz auf einen Blick</h3>
        <p>Diese Datenschutzerklärung klärt Sie über die Art, den Umfang und Zweck der Verarbeitung von personenbezogenen Daten auf dieser Webseite auf.</p>
        
        <h3>2. Verantwortlicher</h3>
        <p>Verantwortlich für die Datenverarbeitung auf dieser Website ist:</p>
        <p>Luca Knaack<br>Bremer Platz 50-52 N.227, 41855 Münster<br>75cdkna3&#64;anonaddy.me</p>
        
        <h3>3. Hosting und Datenverarbeitung</h3>
        <p>Wir hosten unsere Website und alle damit verbundenen Dienste selbst auf Servern von Hetzner. Alle Daten werden ausschließlich in Deutschland verarbeitet.</p>
        
        <h3>4. Datenerfassung und Speicherung</h3>
        <p>Wir erfassen und speichern keine personenbezogenen Nutzerdaten. Die einzigen Daten, die wir speichern, sind die von Ihnen hochgeladenen Dateien.</p>
        
        <h3>5. Zweck der Datenverarbeitung</h3>
        <p>Der einzige Zweck der Datenverarbeitung ist die Bereitstellung der hochgeladenen Dateien für Sie und andere berechtigte Nutzer.</p>
        
        <h3>6. Ihre Rechte</h3>
        <p>Sie haben das Recht, jederzeit die Löschung Ihrer hochgeladenen Dateien zu verlangen. Bitte kontaktieren Sie uns dafür unter den oben genannten Kontaktdaten. Wir werden Ihrer Anfrage umgehend nachkommen.</p>
        
        <h3>7. Datensicherheit</h3>
        <p>Wir setzen technische und organisatorische Sicherheitsmaßnahmen ein, um Ihre Daten gegen zufällige oder vorsätzliche Manipulationen, Verlust, Zerstörung oder gegen den Zugriff unberechtigter Personen zu schützen.</p>
        
        <h3>8. Änderungen der Datenschutzerklärung</h3>
        <p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen.</p>
        
        <p>Stand: 29.07.2024</p>
    </main>