<div class="upload-component">
  @if (!authenticated) {
    
    @if (!showLogin) {
      <div>
        <h2>Registrieren</h2>
        <input type="email" [(ngModel)]="email" placeholder="Email">
        <input type="password" [(ngModel)]="password" placeholder="Passwort">
        <input type="password" [(ngModel)]="participationpw" placeholder="Teilnahmepasswort">
        <button (click)="register()">Registrieren</button>
        <p>Du hast schon einen Account? <a (click)="showLogin = true">Login</a></p>
      </div>
    }
    @if (showLogin) {
      <div>
        <h2>Login</h2>
        <input type="email" [(ngModel)]="email" placeholder="Email">
        <input type="password" [(ngModel)]="password" placeholder="Passwort">
        <button (click)="login()">Login</button>
        <p>Noch keinen Account? <a (click)="showLogin = false">Registrieren</a></p>
      </div>
    }
  }
  @if (authenticated) {
    <h2>Upload Files</h2>
    <p class="subtitle">Durch upload bestätige Ich, die <a routerLink="/nutzungsbedingungen">Nutzungsbedingungen</a> zu akzeptieren.</p>
    <input type="file" (change)="onFileSelected($event)" multiple>
    <button (click)="uploadFiles()">Upload</button>
    <button (click)="logout()">Logout</button>
  } 
</div>